.app {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}


.movie-app {
    display: flex;

}

.app > .movie-app {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.list {
    margin: 0.5rem;
    position: relative;
    transition: transform 0.2s;
}


.movie-head {
    display: flex;
    justify-content: space-between;
}

.right {
    width: 100%;
    height: 70%;
    border-radius: 0.3rem;
}

.h-inpt {
    margin-right: 0.6rem;
}

.list:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    opacity: 0;
    font-size: 20px;
    padding: 20px;
    background-color: rgb(29, 25, 25);
    width: 100%;
    color: rgb(196, 208, 216);
}


.list:hover .overlay {
    opacity: 1;
}


.upley {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    opacity: 0;
    font-size: 20px;
    padding: 20px;
    background-color: rgb(29, 25, 25);
    width: 100%;
    color: rgb(196, 208, 216);
}


.list:hover .upley {
    opacity: 1;
}